body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #930077;
}
h1{
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: white;
}
.inputSelection{
  margin: 50px,0px,80px,0px;
  width: 400px;
}
.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 10px;
}
.addOption{
  margin-top: 10px;
}
button{
  background:#ffbd39;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.changebackground {
 background-color: #e4007c;
}
